[submodule "database"]
	path = database
	url = https://github.com/FJCU-Information-Project/database.git
[submodule "createDataset"]
	path = createDataset
	url = https://github.com/FJCU-Information-Project/database.git
